@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/src/assets/font/CabinetGrotesk-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", sans-serif;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
