.footer {
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer__copyright,
.footer__year {
  margin: 0;
}

.footer__year {
  text-align: right;
}
